.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    &__item {
        margin-right: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #333;
        &:hover {
            border-color: #333;
            text-decoration: underline;
        }
    }
}
