* {
	margin: 0;
	padding: 0;
}

.form {
	width: 750px;
	padding: 45px 30px;
	margin: 50px auto 0 auto;
	background: rgba(0, 255, 254, .25);
	border: 1px solid #df0808;
	border-radius: 15px;
	font-family: Verdana, sans-serif;
}

.header {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 24px;
}

.form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	label {
		margin-bottom: 5px;
	}

	input {
		font-size: 18px;
		height: 45px;
		border: 1px solid #ccc;
		text-indent: 15px;
	}
}

.form-submit {
	float: right;
	color: #fff;
	padding: 8px;
	background: #3cbc24;
	border: none;
	cursor: pointer;

	&:hover {
		background: #27fa00;
	}
}